run = "python3 flowborn_poster.py"
entrypoint = "flowborn_poster.py"
language = "python3"

[nix]
channel = "stable-24_05"

[nix.packages]
nodejs = "nodejs"
python3 = "python3"

[env]
PYTHONIOENCODING = "utf-8"

[packager]
language = "python3"

[packager.features]
packageSearch = true

[languages.python3]
pattern = "**/*.py"
